header{
 text-align: center;
 color: aqua;
}

img{
    width: 250px;
    display: block;
    margin: 0;
    margin-left: 300px;
}

form.formx{
    display: table;
}

div {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;

label{
    padding-right: 10px;
}
}
footer{
    text-align: center;
    color: aquamarine;

}